<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            color: brown;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div><span>
            <%= info.name %>
        </span>님 환영합니다.</div>
    <div>성별은 <span>
            <%= info.gender %>
        </span>이군요!!</div>
    <div>생년월일은<span>
            <%= info.year %>년
                <%= info.month %>월
                    <%= info.date %>일
        </span>이고,</div>
    <div>관심사는<span>
            <%= info.interests %>
        </span>입니다</div>
    <div>좋아하는 색상은<span>
            <%= info.color %>
        </span>입니다</div>
    <div>좋아하는 숫자는<span>
            <%= info.number %>
        </span>입니다</div>
    <br />
    <br />
    <a href="/">홈으로 이동</a>
</body>

</html>